html {
  color-scheme: light dark;
}

body {
  margin: 3rem;
  font-size: 2rem;
  font-family: system-ui;
}

.quick-example {
  background: hsl(200 50% 50% / 0.4 );
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  cursor: pointer;
}

.quick-example > div {
  overflow: hidden;
}

.quick-example:hover {
  grid-template-rows: 1fr;
}